$color_green: #006341;
$color_green_hover: #006431;
$color_green_10: #e5efec;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_dark: #717171;
$color_gray_light: #e5e5e5;

$font_primary: 'Roboto', Arial, sans-serif;
